body {
	background-color: #a9dbdb;
	height: 100vh;
	display: flex;
	align-items: center;
}

#quoteContainer {
	background-color: oldlace;
	border: 5px double #F1863C;
	min-height: 300px;
	}

#quotediv {
	height: 80%;
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#buttondiv {
	display: flex;
	justify-content: space-between;
}

button {
	width: 20%;
}


#tweet {
	text-decoration: none;
	display: inline-block;
	opacity: .6;
}
#tweet:hover {
	opacity: 1;
}


p {
	margin-top: 1rem;
}

